.partner {
    background-color: #f4f5f7;
    padding-top: 80px;
    padding-bottom: 58px;
    &-ofset {
        margin-bottom: 60px;
    }
    &-client-logo {
        display: block;
    }
    &__logo-box {
        @include flex-all-sb;
    }
    &-work {
        padding-top: 183px;
        padding-bottom: 117px;
    }
}
