.supported-section {
    &__bg {
        background-color: #f4f5f7;
        padding-top: 83px;
        z-index: 3;
    }
    &-contant {
        display: flex;
        justify-content: space-between;
    }
    &-left {
        max-width: 612px;
    }
    &__title-ofset {
        margin-bottom: 60px;
    }
    &-client-foto {
        width: 72px;
        height: 72px;
        display: block;
        overflow: hidden;
        border-radius: 100%;
        margin-bottom: 24px;
    }
    &__client-name {
        display: block;
        margin: 0;
        font-weight: 700;
        font-size: 16px;
        color: var(--color-gray900);
        margin-bottom: 10px;
    }
    &-descr {
        display: block;
        color: var(--color-gray800);
        margin-bottom: 30px;
    }
    &__right {
        margin-bottom: -60px;
        z-index: 10;
    }
    &-foto {
        display: block;
        margin-left: auto;
    }
    .resaiz {
        z-index: 1;
    }
    &-items {
        position: relative;
    }
    &__btn-box-ofset {
        position: absolute;
        right: 0;
        bottom: -10px;
        z-index: 10;
    }
}
