<section class="abaut-section container">
    <h2 class="title text--center">We are Createx Construction Bureau </h2>
    <p class="deskr text--center">We&nbsp;are rightfully considered to&nbsp;be&nbsp;the best construction company in&nbsp;the USA.</p>
    <div class="abaut-section__video-block">
        <button class="btn-reset abaut-section__btn-play" aria-label="">
          <svg class="abaut-section__play">
          <use xlink:href="img/sprite.svg#play">
          </use>
        </svg>
        </button>
        <button class="btn-reset abaut-section__btn-mute">
          <svg class="abaut-section__mute">
          <use xlink:href="img/sprite.svg#mute">
          </use>
        </svg>
        </button>
        <video class="abaut-section__video" src="working.mp4" loop muted preload="metadata"></video>
    </div>
</section>
