<section class="benefits">
    <div class="benefits-bg">
        <div class="container">
            <h2 class="services__contant-title benefits-title">Our benefits</h2>
            <p class="benefits-descr">Our mission is&nbsp;to&nbsp;set the highest standards for construction sphere.</p>
            <ul class="list-reset benefits__card">
                <li class="benefits__card-itams">
                    <img class="benefits__card-img" src="img/benefits-icon-1.svg" alt="icon">
                    <h4 class="benefits__card-title">Fixed Terms & Cost</h4>
                    <p class="benefits__card-descr">Culpa nostrud commodo ea&nbsp;consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.</p>
                </li>
                <li class="benefits__card-itams">
                    <img class="benefits__card-img" src="img/benefits-icon-2.svg" alt="icon">
                    <h4 class="benefits__card-title">Qualified Workers</h4>
                    <p class="benefits__card-descr">Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est&nbsp;ea.</p>
                </li>
                <li class="benefits__card-itams">
                    <img class="benefits__card-img" src="img/benefits-icon-3.svg" alt="icon">
                    <h4 class="benefits__card-title">Supervision & Control</h4>
                    <p class="benefits__card-descr">Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea&nbsp;ad.</p>
                </li>
            </ul>
        </div>
    </div>
    <button class="btn-reset btn btn-fill benefits-btn">Discuss a project</button>
</section>
