<footer class="footer">
    <div class="container footer-grid">
        <div class="footer__left-top">
            <div class="footer__soc-box">
                <a href="#">
                    <img class="footer-logo" src="img/logo-insert.svg" alt="логотип">
                </a>
                <ul class="list-reset footer__soc">
                    <li class="footer__soc-list">
                        <a class="footer__soc-link" href="#">
                            <svg class="soc-icon">
                <use xlink:href="img/sprite.svg#whatsapp">
                </use>
              </svg>
                        </a>
                    </li>
                    <li class="footer__soc-list">
                        <a class="footer__soc-link" href="#"> <svg class="soc-icon">
                <use xlink:href="img/sprite.svg#messanger">
                </use>
              </svg>
                        </a>
                    </li>
                    <li class="footer__soc-list">
                        <a class="footer__soc-link" href="#"> <svg class="soc-icon">
                <use xlink:href="img/sprite.svg#facebook">
                </use>
              </svg>
                        </a>
                    </li>
                    <li class="footer__soc-list">
                        <a class="footer__soc-link" href="#"> <svg class="soc-icon">
                <use xlink:href="img/sprite.svg#twitter">
                </use>
              </svg>
                        </a>
                    </li>
                    <li class="footer__soc-list">
                        <a class="footer__soc-link" href=""> <svg class="soc-icon">
                <use xlink:href="img/sprite.svg#youtube">
                </use>
              </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="footer__descr">Createx Construction Bureau has been successfully operating in the USA construction market since 2000. We are proud to offer you quality construction and exemplary service. Our mission is to set the highest standards for construction sphere.</p>
        </div>
        <form class="footer__form" action="https://jsonplaceholder.typicode.com/posts" autocomplete="on" method="POST">
            <h4 class="footer__form-title">Let’s stay in touch</h4>
            <div class="footer__form-contant">
                <input type="email" class="footer__form-input" placeholder="Your email address ">
                <button class="btn-reset btn btn-fill footer__form-btn">subscribe</button>
            </div>
            <span class="footer__form-descr">*Subscribe to&nbsp;our newsletter to&nbsp;receive communications and early updates from Createx Construction Bureau.
            </span>
        </form>
        <div class="footer__contact">
            <h4 class="footer__contact-title">HEAD OFFICE</h4>
            <ul class="list-reset">
                <li class="footer-list"><address class="footer__contact-link">
              Address:
              <span class="footer-items">8502 Preston Rd. Inglewood, New York</span>
            </address>
                </li>
                <li class="footer-list">
                    <a href="4055550128" class="footer__contact-link">Call:
                <span class="footer-items">(405) 555-0128</span>
            </a>
                </li>
                <li class="footer-list">
                    <a href="hello@createx.com" class="footer__contact-link">Email:
                <span class="footer-items">hello@createx.com</span>
            </a>
                </li>
            </ul>
        </div>
        <div class="footer__abaut">
            <h4 class="footer__contact-title">WHO WE ARE</h4>
            <ul class="list-reset">
                <li class="footer-list"><a class="footer-items" href="#">About Us</a></li>
                <li class="footer-list"><a class="footer-items" href="#">Available Positions</a></li>
                <li class="footer-list"><a class="footer-items" href="#">Contacts</a></li>
            </ul>
        </div>
        <div class="footer__exe">
            <h4 class="footer__contact-title">OUR EXPERIENCE</h4>
            <ul class="list-reset">
                <li class="footer-list"><a class="footer-items" href="#">Services</a></li>
                <li class="footer-list"><a class="footer-items" href="#">Work</a></li>
                <li class="footer-list"><a class="footer-items" href="#">News</a></li>
            </ul>
        </div>
        <div class="footer__bottom">
            <span class="footer__descr-studio">&copy;&nbsp;All rights reserved. Made with</span>
            <span class="footer__descr-studio footer__descr-studio-icon">by Createx Studio </span>
        </div>
        <div class="footer__gotop">
            <span class="footer__gotop-descr">GO TO TOP</span>
            <a class="footer__gotop-btn" href="#"><img class="footer__gotop-btn-arrow" src="img/gototop.svg" alt="В"></a>
        </div>
    </div>
</footer>
