<section class="form-section">
    <div class="container form-section-container">
        <h2 class="visually-hidden">Contacts</h2>
        <form class="form-section__form" action="https://jsonplaceholder.typicode.com/posts" autocomplete="on" method="POST">
            <h3 class="small__section-title form-section-title">A quick way to discuss details</h3>
            <label class="form-section__lable">Name*
            <input class="form-section__input" type="text" name="name" placeholder="Your name">
          </label>
            <label class="form-section__lable">Phone*
            <input class="form-section__input" type="tel" name="tel" placeholder="Your phone number">
          </label>
            <label class="form-section__lable">Email
            <input class="form-section__input" type="email" name="email" placeholder="Your working email">
          </label>
            <label class="form-section__lable">Message*
            <textarea class="form-section__textarea" cols="30" rows="10" placeholder="Your message"></textarea>
          </label>
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__input">
              <span class="custom-checkbox__text">I agree to receive communications from Createx Construction Bureau.</span>
            </label>
            <button class="btn-reset btn btn-fill form-section-btn" type="submit">send request</button>
        </form>
    </div>
</section>
