<header class="header">
    <div class="container header__container">
        <a href="#">
            <img src="../img/logo.svg" alt="logo">
        </a>
        <nav class="header__nav">
            <ul class="header__nav-list  list-reset">
                <li class="header__nav-itams"><a class="header__nav-link" href="#">About Us</a></li>
                <li class="header__nav-itams"><a class="header__nav-link" href="#">Services</a></li>
                <li class="header__nav-itams"><a class="header__nav-link" href="#">Work</a></li>
                <li class="header__nav-itams"><a class="header__nav-link" href="#">News</a></li>
                <li class="header__nav-itams"><a class="header__nav-link" href="#">Contacts</a></li>
            </ul>
        </nav>
        <div class="header__contacts-box">
            <a class="header__contacts header__contacts-phone" href="4055550128">
                <span class="header__contacts-captions">Call us</span>
                <span class="header__contacts-value">(405) 555-0128</span>
            </a>
            <a class="header__contacts header__contacts-chat" href="mailto:hello@createx.com">
                <span class="header__contacts-captions">Talk to us</span>
                <span class="header__contacts-value">hello@createx.com</span>
            </a>
        </div>
    </div>
</header>