<section class="hero-services">
    <div class="container">
        <ul class="list-reset hero-services-list">
            <li class="hero-services-itams">
                <a class="hero-services-link" href="index.html">Homepage</a>
            </li>
            <li class="hero-services-itams">
                <a class="hero-services-link">Services</a>
            </li>
        </ul>
        <h1 class="hero-services-title">SERVICES</h1>
        <p class="hero-services-descr">If&nbsp;you are looking for a&nbsp;full-service construction company, look to&nbsp;Createx Construction Bureau. We&nbsp;are doing our best to&nbsp;be&nbsp;a&nbsp;partner for all of&nbsp;your construction needs.</p>
    </div>
</section>
