<section class="hero-services hero-services-2">
    <div class="container">
        <ul class="list-reset hero-services-list">
            <li class="hero-services-itams">
                <a class="hero-services-link" href="index.html">Homepage</a>
            </li>
            <li class="hero-services-itams">
                <a class="hero-services-link" href="index.html">Services</a>
            </li>
            <li class="hero-services-itams">
                <a class="hero-services-link">Interior Design</a>
            </li>
        </ul>
        <h1 class="hero-services-title">INTERIOR DESIGN</h1>
        <p class="hero-services-descr">Dui augue nec mi&nbsp;mi. Ut&nbsp;ac&nbsp;lectus donec fames pellentesque. Laoreet aenean vulputate elementum blandit amet.</p>
    </div>
</section>
