<section class="icon-box">
    <div class="container">
        <ul class="list-reset icon-box__list">
            <li class="icon-box__itam">
                <a href="#" class="icon-box__link">
                    <svg class="icon-box__link-img">
                       <use xlink:href="img/sprite.svg#work-icon-1">
                        </use>
                      </svg>
                    <span class="icon-box__link-text">All Projects</span>
                </a>
            </li>
            <li class="icon-box__itam">
                <a href="#" class="icon-box__link">
                    <svg class="icon-box__link-img">
                           <use xlink:href="img/sprite.svg#work-icon-2">
                           </use>
                      </svg>
                    <span class="icon-box__link-text">Construction</span>
                </a>
            </li>
            <li class="icon-box__itam">
                <a href="#" class="icon-box__link">
                    <svg class="icon-box__link-img">
                       <use xlink:href="img/sprite.svg#work-icon-3">
                       </use>
                     </svg>
                    <span class="icon-box__link-text">Project Development</span>
                </a>
            </li>
            <li class="icon-box__itam">
                <a href="#" class="icon-box__link">
                    <svg class="icon-box__link-img">
                        <use xlink:href="img/sprite.svg#work-icon-4">
                        </use>
                      </svg>
                    <span class="icon-box__link-text">Interior Design</span>
                </a>
            </li>
            <li class="icon-box__itam">
                <a href="#" class="icon-box__link">
                    <svg class="icon-box__link-img">
                       <use xlink:href="img/sprite.svg#work-icon-5">
                       </use>
                     </svg>
                    <span class="icon-box__link-text">Repairs</span>
                </a>
            </li>
        </ul>
    </div>
</section>
