<section class="offer">
    <div class="container">
        <div class="offer__contant">
            <img src="img/offer-img.jpg" alt="foto" class="offer__contant-img">
            <div class="offer__contant-right">
                <h2 class="services__contant-title offer-title">We offer</h2>
                <div class="offer__contant-right-box">
                    <button class="btn-reset offer__contant-btn"><img class="services__contant-btn-icon" src="img/minus.svg" alt=""></button>
                    <h3 class="offer-title-small">Interior design of apartments</h3>
                </div>
                <p class="offer__contant-descr">Adipiscing nunc arcu enim elit mattis eu&nbsp;placerat proin. Imperdiet elementum faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac&nbsp;facilisis.</p>
                <div class="offer__contant-right-box">
                    <button class="btn-reset offer__contant-btn"><img class="services__contant-btn-icon" src="img/plus.svg" alt=""></button>
                    <h3 class="offer-title-small">Interior design of private houses</h3>
                </div>
            </div>
        </div>
    </div>
</section>
