<section class="partner work-bg partner-work">
    <div class="container">
        <h2 class="title text--center partner-ofset">Our clients</h2>
        <div class="partner__logo-box">
            <a class="client-logo-link" href="#">
                <img class="supported-section-client-logo" src="img/client-logo1.png" alt="логотип"></a>
            <a class="client-logo-link" href="#">
                <img class="supported-section-client-logo" src="img/client-logo2.png" alt="логотип"></a>
            <a class="client-logo-link" href="#">
                <img class="supported-section-client-logo" src="img/client-logo3.png" alt="логотип"></a>
            <a class="client-logo-link" href="#">
                <img class="supported-section-client-logo" src="img/client-logo4.png" alt="логотип"></a>
            <a class="client-logo-link" href="#">
                <img class="supported-section-client-logo" src="img/client-logo5.png" alt="логотип"></a>
            <a class="client-logo-link" href="#">
                <img class="supported-section-client-logo" src="img/client-logo6.png" alt="логотип"></a>
        </div>
    </div>
</section>
