<section class="portfolio">
    <div class="container">
        <ul class="list-reset portfolio-grid">
            <li class="portfolio__itams">
                <img class="portfolio__itams-img" src="img/portfolio-1.jpg" alt="foto">
                <h3 class="portfolio__itams-title">Cubes Building</h3>
                <span class="portfolio__itams-descr">Business Centers</span>
                <button class="btn-reset btn projects-section-btn">View Project</button>
            </li>
            <li class="portfolio__itams">
                <img class="portfolio__itams-img" src="img/portfolio-2.jpg" alt="foto">
                <h3 class="portfolio__itams-title">Modern Cottage</h3>
                <span class="portfolio__itams-descr">Private houses</span>
            </li>
            <li class="portfolio__itams">
                <img class="portfolio__itams-img" src="img/portfolio-3.jpg" alt="foto">
                <h3 class="portfolio__itams-title">Luxury Beach House</h3>
                <span class="portfolio__itams-descr">Private houses</span>
            </li>
            <li class="portfolio__itams">
                <img class="portfolio__itams-img" src="img/portfolio-4.jpg" alt="foto">
                <h3 class="portfolio__itams-title">Modern Double Bedroom</h3>
                <span class="portfolio__itams-descr">Apartments & flats</span>
            </li>
            <li class="portfolio__itams">
                <img class="portfolio__itams-img" src="img/portfolio-5.jpg" alt="foto">
                <h3 class="portfolio__itams-title">Kids Bedroom With Decorations</h3>
                <span class="portfolio__itams-descr">Apartments & flats</span>
            </li>
            <li class="portfolio__itams">
                <img class="portfolio__itams-img" src="img/portfolio-6.jpg" alt="foto">
                <h3 class="portfolio__itams-title">The Pencil Building</h3>
                <span class="portfolio__itams-descr">Stores & Malls</span>
            </li>
            <li class="portfolio__itams">
                <img class="portfolio__itams-img" src="img/portfolio-7.jpg" alt="foto">
                <h3 class="portfolio__itams-title">Red Finger Building</h3>
                <span class="portfolio__itams-descr">Business Centers</span>
            </li>
            <li class="portfolio__itams">
                <img class="portfolio__itams-img" src="img/portfolio-8.jpg" alt="foto">
                <h3 class="portfolio__itams-title">Scandinavian Style Interior</h3>
                <span class="portfolio__itams-descr">Private houses</span>
            </li>
            <li class="portfolio__itams">
                <img class="portfolio__itams-img" src="img/portfolio-9.jpg" alt="foto">
                <h3 class="portfolio__itams-title">Brown and Gray Painted House</h3>
                <span class="portfolio__itams-descr">Private houses</span>
            </li>
        </ul>
        <button class="btn-reset portfolio-btn">
          <img src="img/convert.svg" alt="img" class="portfolio-btn-img">
          <span class="potfolio-btn-span">Load more</span>
        </button>
    </div>
</section>
