<section class="projects-section">
    <div class="container">
        <div class="projects-section-top">
            <h2 class="title projects-section-title">Browse our selected projects and learn more about our work</h2>
            <div class="slider__btn-box projects-section__btn-box-ofset">
                <button class="btn-reset slider_btn slider_btn-prev">
                  <svg class="slider_btn-svg">
                <use xlink:href="img/sprite.svg#slider-btn">
                </use>
                </svg>
              </button>
                <button class="btn-reset slider_btn slider_btn-next">
                  <svg class="slider_btn-svg slider_btn-too">
                <use xlink:href="img/sprite.svg#slider-btn">
                </use>
                </svg>
              </button>
            </div>
        </div>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a class="projects-section__card" href="#">
                        <img class="projects-section__card-img" src="img/project1.jpg" alt="фото1">
                        <div class="projects-section-contant">
                            <h4 class="card-title projects-section__card-title">Red Finger Building</h4>
                            <span class="section-span projects-section-span">Business Centers</span>
                            <button class="btn-reset btn projects-section-btn">View Project</button></div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="projects-section__card" href="#">
                        <img class="projects-section__card-img" src="img/project2.jpg" alt="фото1">
                        <div class="projects-section-contant">
                            <h4 class="card-title projects-section__card-title">Cubes Building</h4>
                            <span class="section-span projects-section-span">Business Centers</span>
                            <button class="btn-reset btn projects-section-btn">View Project</button>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="projects-section__card" href="#">
                        <img class="projects-section__card-img" src="img/project3.jpg" alt="фото1">
                        <div class="projects-section-contant">
                            <h4 class="card-title projects-section__card-title">The Pencil Building</h4>
                            <span class="section-span projects-section-span">Stores & Malls</span>
                            <button class="btn-reset btn projects-section-btn">View Project</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="section__and-box projects-section-ofset">
            <h3 class="small__section-title section-title-ofset">Explore all our works</h3>
            <a class="btn-reset btn btn-fill" href="#">View portfolio</a>
        </div>
    </div>
</section>
