<section class="resent">
    <div class="container">
        <h2 class="title text--center recent-ofset__title">Recent news</h2>
        <ul class="list-reset recent__grid">
            <li class="recent__list">
                <article class="recent-contant">
                    <img class="recent__left-foto" src="img/recent-1.jpg" alt="фото">
                    <h4 class="recent__title">
                        <a class="card-title" href="#">How to Build Climate Change-Resilient Infrastructure</a>
                    </h4>
                    <a class="recent__span recent__span-ofset" href="#">Industry News</a>
                    <time class="recent__span" datetime="2020-06-24">June 24, 2020</time>
                    <span class="recent__span recent__span-icon">4 comments</span>
                    <p class="card-descr recent__descr-ofset">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...</p>
                </article>
            </li>
            <li class="recent__list">
                <article class="recent-contant">
                    <img class="recent__left-foto" src="img/recent-2.jpg" alt="фото">
                    <h4 class="recent__title recent__title-small">
                        <a class="card-title" href="#">How Construction Can Help Itself</a>
                    </h4>
                    <a class="recent__span recent__span-ofset" href="#">Innovation</a>
                    <time class="recent__span" datetime="2020-06-12">June 12, 2020</time>
                    <span class="recent__span recent__span-icon">No comments</span>
                    <p class="card-descr recent__descr-ofset none">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...</p>
                </article>
            </li>
            <li class="recent__list">
                <article class="recent-contant">
                    <img class="recent__left-foto" src="img/recent-3.jpg" alt="фото">
                    <h4 class="recent__title recent__title-small">
                        <a class="card-title" href="#">Types of Flooring Materials</a>
                    </h4>
                    <a class="recent__span recent__span-ofset" href="#">Company News</a>
                    <time class="recent__span" datetime="2019-12-1">December 1, 2019</time>
                    <span class="recent__span recent__span-icon">No comments</span>
                    <p class="card-descr recent__descr-ofset none">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...</p>
                </article>
            </li>
        </ul>
        <div class="section__and-box recent-ofset">
            <h3 class="small__section-title section-title-ofset">Explore all our news posts</h3>
            <a class="btn-reset btn btn-fill" href="#">View all news</a>
        </div>
    </div>
</section>
