<section class="services-projects">
    <div class="container">
        <div class="services-projects__title-box">
            <h2 class="services__contant-title services-projects-title">Related projects</h2>
            <div class="slider__btn-box services-projects__btn-box-ofset">
                <button class="btn-reset slider_btn slider_btn-prev">
            <svg class="slider_btn-svg">
          <use xlink:href="img/sprite.svg#slider-btn">
          </use>
          </svg>
        </button>
                <button class="btn-reset slider_btn slider_btn-next">
            <svg class="slider_btn-svg slider_btn-too">
          <use xlink:href="img/sprite.svg#slider-btn">
          </use>
          </svg>
        </button>
            </div>
        </div>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="projects-section__card">
                        <img class="projects-section__card-img" src="img/services-projects-img1.jpg" alt="фото1">
                        <div class="projects-section-contant">
                            <h4 class="card-title projects-section__card-title">Kids Bedroom With Decorations</h4>
                            <span class="section-span projects-section-span">Apartments & flats</span>
                            <button class="btn-reset btn projects-section-btn">View Project</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="projects-section__card">
                        <img class="projects-section__card-img" src="img/services-projects-img2.jpg" alt="фото1">
                        <div class="projects-section-contant">
                            <h4 class="card-title projects-section__card-title">Modern Double Bedroom</h4>
                            <span class="section-span projects-section-span">Apartments & flats</span>
                            <button class="btn-reset btn projects-section-btn">View Project</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="projects-section__card">
                        <img class="projects-section__card-img" src="img/services-projects-img3.jpg" alt="фото1">
                        <div class="projects-section-contant">
                            <h4 class="card-title projects-section__card-title">Scandinavian Style Interior</h4>
                            <span class="section-span projects-section-span">Private houses</span>
                            <button class="btn-reset btn projects-section-btn">View Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section__and-box services-projects-ofset">
            <h3 class="small__section-title services-projects-title-ofset">Explore all our works</h3>
            <a class="btn-reset btn btn-fill" href="#">View portfolio</a>
        </div>
    </div>
</section>
