<section class="services-section section-ofset">
    <div class="container">
        <form class="services-section__form" action="https://jsonplaceholder.typicode.com/posts" autocomplete="on" method="POST">
            <h3 class="text--center small__section-title services-section-title-ofset">Want to&nbsp;know more? Ask&nbsp;us a&nbsp;question:</h3>
            <div class="services-section__form-content">
                <label class="services-section__lable">Name<input class="services-section__input section-input" type="text" placeholder="Your name"></label>
                <label class="services-section__lable">Phone<input class="services-section__input section-input" type="text" placeholder="Your phone"></label>
                <label class="services-section__lable">Message<input class="services-section__input section-input section-input-big" type="text" placeholder="Your message"></label>
                <button class="btn-reset btn btn-fill services-section-btn">Send</button>
            </div>
        </form>
        <section class="services-section-too">
            <h2 class="title text--center">Our services</h2>
            <p class="descr text--center">Createx Construction Bureau is&nbsp;a&nbsp;construction giant with a&nbsp;full range of&nbsp;construction services.</p>
            <ul class="list-reset services-section-too__grid">
                <li class="services-section-too__card">
                    <a class="services-section-too__card-link" href="#">
                        <svg class="services-section-too__card-icon">
                <use xlink:href="img/sprite.svg#services">
                </use>
           </svg>
                        <h4 class="card-title services-section-too__card-title">Construction</h4>
                    </a>
                </li>
                <li class="services-section-too__card">
                    <a class="services-section-too__card-link" href="#">
                        <svg class="services-section-too__card-icon">
              <use xlink:href="img/sprite.svg#services2">
              </use>
         </svg>
                        <h4 class="card-title services-section-too__card-title">Project Development</h4>
                    </a>
                </li>
                <li class="services-section-too__card">
                    <a class="services-section-too__card-link" href="#">
                        <svg class="services-section-too__card-icon">
            <use xlink:href="img/sprite.svg#services3">
            </use>
       </svg>
                        <h4 class="card-title services-section-too__card-title">Interior Design</h4>
                    </a>
                </li>
                <li class="services-section-too__card">
                    <a class="services-section-too__card-link" href="#">
                        <svg class="services-section-too__card-icon">
          <use xlink:href="img/sprite.svg#services4">
          </use>
     </svg>
                        <h4 class="card-title services-section-too__card-title">Repairs</h4>
                    </a>
                </li>
            </ul>
            <div class="section__and-box services-section-too-ofset">
                <h3 class="small__section-title section-title-ofset">Learn more about our services</h3>
                <a class="btn-reset btn btn-fill" href="#">View services</a>
            </div>
        </section>
    </div>
</section>
