<section class="supported-section">
    <div class="supported-section__bg">
        <div class="container">
            <div class="supported-section-contant">
                <div class="supported-section-left">
                    <h2 class="title supported-section__title-ofset">What our clients are saying</h2>
                    <div class="swiper2 supported-section-items">
                        <div class="swiper-wrapper resaiz">
                            <div class="swiper-slide">
                                <div class="supported-section-slider">
                                    <img src="img/profile-image.jpg" alt="фото клиента" class="supported-section-client-foto">
                                    <p class="card-descr supported-section-descr">Ipsum aute sunt aliquip aute et&nbsp;occaecat. Anim minim do&nbsp;cillum eiusmod enim. Consectetur magna cillum consequat minim laboris cillum laboris voluptate minim proident exercitation ullamco.</p>
                                    <span class="supported-section__client-name">Shawn Edwards</span>
                                    <span class="section-span">Position, Company name</span>
                                </div>
                            </div>
                        </div>
                        <div class="slider__btn-box supported-section__btn-box-ofset">
                            <button class="btn-reset slider_btn support_btn-prev">
                                 <svg class="slider_btn-svg">
                                    <use xlink:href="img/sprite.svg#slider-btn">
                                    </use>
                               </svg>
                             </button>
                            <button class="btn-reset slider_btn support_btn-next">
                                 <svg class="slider_btn-svg slider_btn-too">
                                    <use xlink:href="img/sprite.svg#slider-btn">
                                    </use>
                               </svg>
                             </button>
                        </div>
                    </div>
                </div>
                <div class="supported-section__right">
                    <img src="img/supported-foto.jpg" alt="фото" class="supported-section-foto">
                </div>
            </div>
        </div>
    </div>
</section>
