<section class="values container">
    <h2 class="title text--center">Our core values</h2>
    <p class="descr text--center">Our mission is&nbsp;to&nbsp;set the highest standards for construction sphere.</p>
    <ul class="values__grid values__list list-reset">
        <li class="values__list-itams values__like">
            <h3 class="card-title values__card-ofset">Quality</h3>
            <p class="card-descr">Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.</p>
        </li>
        <li class="values__list-itams values__hand">
            <h3 class="card-title values__card-ofset">Safety</h3>
            <p class="card-descr">Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est ea.</p>
        </li>
        <li class="values__list-itams values__slippers">
            <h3 class="card-title values__card-ofset">Comfort</h3>
            <p class="card-descr">Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.</p>
        </li>
    </ul>
</section>
