<section class="wedo">
    <div class="container">
        <h2 class="services__contant-title wedo-title">That’s how we do it</h2>
        <div class="wedo-contant">
            <div class="wedo__card">
                <span class="wedo__card-span">01</span>
                <h4 class="wedo__card-title">Work Estimate</h4>
                <p class="wedo__card-descr">Culpa nostrud commodo ea consequat aliquip reprehenderit.</p>
            </div>
            <div class="wedo__card">
                <span class="wedo__card-span">02</span>
                <h4 class="wedo__card-title">Contract</h4>
                <p class="wedo__card-descr">Laoreet ultrices curabitur luctus quisque consequat. Leo lorem velit imperdiet auctor et tempor.</p>
            </div>
            <div class="wedo__card">
                <span class="wedo__card-span wedo__card-span-activ">03</span>
                <h4 class="wedo__card-title">Mobilization</h4>
                <p class="wedo__card-descr">Odio massa scelerisque purus arcu sed velit eleifend cursus leo.</p>
            </div>
            <div class="wedo__card">
                <span class="wedo__card-span">04</span>
                <h4 class="wedo__card-title">Construction Work</h4>
                <p class="wedo__card-descr">Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore et ad et veniam ad deserunt.</p>
            </div>
        </div>
    </div>
</section>
